body {
  width: 360px;
  font-family: monospace;
  overflow-y: hidden;
}

#scoreContainer,
#status {
  font-size: 16px;
}

#moveOptions,
#board,
#rack,
#moveOptionsHeader {
  border: 1px solid black;
  border-spacing: 0px;
}

#rack td,
#board td {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  padding: 3px;
}

#rack td {
  border: 1px solid black;
}

#board td.active {
  padding: 0px 2px;
}

#board td .move {
  border: solid 1px orange;
  border-radius: 1px;
  font-weight: bold;
  font-size: 14px;
  background: rgba(255, 255, 0, 1);
}

#board td .blank {
  color: silver;
}

#currentSelection {
  background: rgba(255, 255, 0, .5);  
  margin-bottom: 2px;
}

.center {
  margin: 0 auto;
  text-align: center;	
}

#points {
  color: red;
}

#options-nav a {
  display: block;
  width: 10px;
  font-size: 22px;
}

.prev {
  float: left;
 }

.next {
  float: right;
}

#moveOptionsHeader tr {
  cursor: arrow;
}

#moveOptions,
#moveOptionsWrapper,
#moveOptionsHeader {
  width: 300px;
}

#moveOptions tr {
  cursor: pointer;
}

#moveOptions td, #moveOptionsHeader td {
  border: 1px solid black;
  padding: 2px;
  font-size: 15px;
}

.tw {
  background: rgba(255, 127, 0, .25);
}

.tl {
  background: rgba(0, 255, 0, .25);
}

.dw {
  background: rgba(255, 0, 0, .25);
}

.dl {
  background: rgba(0, 0, 255, .25);
}

.star {
  background: rgba(128, 64, 255, .25);
}

.overflow {
  height: 110px;
  overflow-y: scroll; 
  overflow-x: hidden; 
}