body {
  width: 280px;
  height: 340px;
  font-family: monospace;
}

.board {
  width: 260px;
}

.red {
  color: red;
  font-weight: bold;
}

.center {
  margin: 0 auto;
  text-align: center;	
}

.prev {
  display: block;
  width: 10px;
  float: left;
  font-size: 22px;
}

.next {
  display: block;
  width: 10px;
  float: right;
  font-size: 22px;
}

#rack span {
  border: 1px solid black;
  padding: 3px;
}